*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body 
{
    background: #010615!important;
}
.ajj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;

}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img 
{
    max-width: 100%;
    opacity: 0.03;
    transition: 0.5s;
}
.box:hover .imgBx img
{
    opacity: 1;
}
.box:before 
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;
    
}
.box:after 
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-2;
    filter: blur(20px);
}
.box:before,
.box:after
{
    background: rgb(166,58,180);
    background: linear-gradient(45deg, rgba(166,58,180,0.7458333675266982) 0%, rgba(253,29,29,0.49653364763874297) 50%, rgba(252,213,69,0.5021358885351015) 100%);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: rgb(255,0,245);
background: linear-gradient(45deg, rgba(255,0,245,0.4853291658460259) 0%, rgba(205,0,255,0.49093140674238445) 50%, rgba(3,0,210,0.4853291658460259) 100%);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
    background: rgb(57,255,0);
background: linear-gradient(45deg, rgba(57,255,0,0.5021358885351015) 0%, rgba(255,230,0,0.5021358885351015) 50%, rgba(210,0,0,0.5021358885351015) 100%);
}
.box .content
{
    position:absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}
.box:hover .content
{
    opacity: 1;
}
.box .content h2
{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span
{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  z-index: 10;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 35px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
    position: fixed;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

.text{
    color:#fff;
    font-family: consolas;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
}
